:root {
    --clr-primary: rgb(54, 112, 199);
    --clr-light: #f4f4f4;
    --clr-dark: #333;
    --clr-warning: rgb(99, 36, 36);
}

*,
*::before,
*::after {
    font-family: inherit;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1.5em;
    background-color: var(--clr-primary);
    color: var(--clr-light);
    display: grid;
    grid: 
        "header header header header" auto
        "..... lists active ....." auto / 
        1fr minmax(100px, 300px) minmax(250px, 500px) 1fr;
}

.title {
    grid-area: header;
    text-align: center;
    font-size: calc(7vw + 2rem);
    font-weight: 900;
    color: rgba(0,0,0,0.1);
    letter-spacing: 1px;
    margin: -0.2em 0 0.5em;
}

.all-tasks {
    grid-area: lists;
}

.task-list {
    line-height: 1.7;
    font-size: 1.2rem;
    list-style: circle;
}

.todo-list {
    grid-area: active;
}